<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style/bootstrap/css/bootstrap.min.css">
<script src="/style/bootstrap/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/style/css/office.css">
<title>面談管理システム</title>
</head>
<body>
	<section class="intro">
		<div class="row justify-content-center">
			<div class="col-12 row">
				<div id="logo" class="col-12  my-4">
					<img alt="K&Kソフト株式株式" src="/file/logo.png">
				</div>
				<div>
					<div class="row">
						<div class="col-6 eigyo">
						<h3>営業中</h3>
						<div class="row justify-content-center content">
							<div class="col-4 row">
							<h4>即日</h4>
							</div>
							<div class="col-4 row">2</div>
							<div class="col-4 row">3</div>
						</div>
						</div>
						<div class="col-6 row justify-content-center">
							<a class="btn btn-primary" href="/office">面談管理システム</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>